{% extends "template_base.html" %}

{% block title %}{{ block.super }} - TICKET{% endblock %}

{% block content %} 

    <p>{{ ticket.TIC_Kurzbezeichnung }}</p>                                              
    <p>{{ ticket.TIC_Problembeschreibung }}</p> 
    <p>{{ ticket.TIC_Priority }}</p>
    <p>{{ ticket.TIC_Kunde }}</p>
    <div id="ChHelp" style="display:none">{{ ticket.TIC_Verrechenbar }}</div>
    
    <form>
    <p>Verrechenbar: <input type="checkbox" id="Charge" disabled="disabled"></p>
    </form>
    
    <input type="button" onclick=MoreInfo_showhide('MoreInfo') value="Verlauf ein-/ausblenden"></input>
    
    <span id="MoreInfo" style="display:none">
    <table>
        <tr><td>Kommunikation:</td></tr>
    {% for ticketverlauf in ticketverlauf %}
    
        <tr>
            <td>{{ ticketverlauf.TCCOM_Owner }}</td>
            <td>{{ ticketverlauf.TCCOM_Timestamp }}</td>
            <td>{{ ticketverlauf.TCCOM_Text }}</td>
            </tr>
            </span>
    {% endfor %}
    </table>
    </span>
<br>

<script language="JavaScript">
var n=document.getElementById("ChHelp").innerHTML;
if (n=="True")
{document.getElementById('Charge').checked=true;}
</script>

{% endblock %}
