{% extends "template_base.html" %}

{% block title %}{{ block.super }} - TICKET{% endblock %}

{% block content %} 

    <div>                                                                        
    <p>{{ ticket.TIC_Kurzbezeichnung }}</p>                                              
    <p>{{ ticket.TIC_Problembeschreibung }}</p> 
    <p>{{ ticket.TIC_Priority }}</p>
    <p>{{ ticket.TIC_Kunde }}</p>
    </div>
    
    <table>
        <tr><td>Kommunikation:</td></tr>
    {% for ticketverlauf in ticketverlauf %}
    
        <tr>
            <td>{{ ticketverlauf.TCCOM_Owner}}</td>
            <td>{{ ticketverlauf.TCCOM_Timestamp}}</td>
            <td>{{ ticketverlauf.TCCOM_Text}}</td>
            </tr>
    {% endfor %}
    </table>
{% endblock %}
