{% extends "template_base.html" %}

{% block title %}{{ block.super }} - TICKETS{% endblock %}

{% block content %}
<h2>Tickets(2)</h2>

<table>
{% for r in object_list %}
    <tr onMouseover='this.bgColor="#FFFF80"' onMouseOut='this.bgColor=" #FFFFFF"'>
    <td> {{r.1}}</td>
    <td> {{r.2}}</td>
    <td> {{r.3}}</td>
    <td> {{r.4}}</td>
    <td> {{r.5}}</td>
    
    <td><a href={% url 'ticket_detail' r.0 %}>Details</a></td>
    </tr>
{% endfor %} 
</table>

{% endblock %}