<!doctype html>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static "Style.css" %}">
    </head>
    <body>
        <p>Hallo Welt!</p>
        
        
        <table>
            <tr>
                <td><a href="kundenliste"><img src="/static/img/Icon_Kundenuebersicht.png"></img></a></td>
            </tr>
            <tr>
                <td> <span id="Mobile" style=""><a href="kundenlistem">Kundenübersicht - Vollversion</a></span></td>
            </tr>
        </table>
        
        <!-- Script für Responsive Design -->
        <script language=Javascript>
        var y;
        y=window.innerWidth;
        if (y < 499) {
        var spanmod=document.getElementById("Mobile");
        spanmod.style.display="none";
        }
        
        </script>
    </body>
</html>