{% extends "template_base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} - MITARBEITER{% endblock %}

{% block content %}
<h2>Mitarbeiter</h2>


<table>

{% for r in object_list %}

    <tr onMouseover='this.bgColor="#FFFF80"' onMouseOut='this.bgColor=" #FFFFFF"'>
    <td> {{r.1}}</td>
    <td> {{r.2}}</td>
    <td> {{r.3}}</td>
    <td> {{r.4}}</td>
    <td> {{r.5}}</td>
    
<td><a href={% url 'mitarbeiter_detail' r.0 %}>Details</a></td>
</tr>
{% endfor %}    
</table>

<a href="{% url 'mitarbeiter_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Neu</a>

{% endblock %}