{% extends "template_base.html" %}

{% block title %}{{ block.super }} - MITARBEITER{% endblock %}

{% block content %} 

    <div>                                                                        
    <p>{{ mitarbeiter.MA_Name }}</p>                                              
    <p>{{ mitarbeiter.MA_Kuerzel }}</p>                                           
    </div>
    
    
    <a href=javascript:MoreInfo_showhide("MoreInfo")>Tickets ein-/ausblenden</a>
    <a href="../../mitarbeiterliste">Zurück</a>
    <span id="MoreInfo" style="display:none">
    <table>
        <tr><td>Tickets:</td></tr>
    {% for ticket in tickets %}
    
        <tr>
            <td>{{ ticket.TIC_Kurzbezeichnung}}</td>
            <td>{{ ticket.TIC_Kunde}}</td>
            <td>{{ ticket.TIC_Mitarbeiter}}</td>
            </tr>
    {% endfor %}
    </table>
</span>
<b>


{% endblock %}