{% extends "template_base.html" %}

{% block content %}
    <h2>Neuer Mitarbeiter</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="save btn btn-default">Speichern</button>
        <input type="button" value="Abbrechen" onclick="window.location='mitarbeiterliste'">
    </form>

{% endblock %}