{% extends "template_base.html" %}

{% block title %}{{ block.super }} - TICKETS{% endblock %}

{% block content %}
<h2>Tickets</h2>


<table>
{% for ticket in object_list %}    
<tr onMouseover='this.bgColor="#FFFF80"' onMouseOut='this.bgColor=" #FFFFFF"'>
<td>{{ticket.TIC_Kurzbezeichnung}}</td>
<td>{{ticket.TIC_Problembeschreibung}}</td>
<td>{{ticket.TIC_Priority}}</td>
<td>{{ticket.TIC_Kunde}}</td>
<td>{{ticket.TIC_Mitarbeiter}}</td>
<td>{{ticket.TIC_Verrechenbar}}</td>
</tr>
{% endfor %}    
</table>

{% endblock %}