<!doctype html
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">

    <title>{% block title %}Yeno TroubleTicket{% endblock %}</title>
    <link rel="stylesheet" href="{% static "Style.css" %}">
    <script language="javascript" type="text/javascript" src={%static "jslib.js" %}></script>
    
    
</head>
<body>
    
    <img src="/static/Yeno Header.png">
    {% block content %}{% endblock %}
</body>
</html>

