{% extends "template_base.html" %}

{% block title %}{{ block.super }} - TOOLS{% endblock %}

{% block content %}
<h2>Tools</h2>

<form method="POST" name=Additionsformular class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <input type="text" name="ErsteZahl">
        <input type="text" name="ZweiteZahl">
        <button type="submit" class="save btn btn-default" onclick="Addition()">Calculate</button>
    </form>

{% endblock %}