{% extends "template_base.html" %}

{% block content %}
    <h1>Neuer Kunde</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Speichern</button>
        
    </form>
{% endblock %}