{% extends "template_base.html" %}

{% block title %}{{ block.super }} - KUNDENLISTE 2{% endblock %}

{% block content %}
<h2>Kundenübersicht</h2>
<table>
    
{% for r in object_list %}
    <tr onMouseover='this.bgColor="#FFFF80"' onMouseOut='this.bgColor="#FFFFFF"'>
    <td> {{r.1}}</td>
    <td> {{r.2}}</td>
    <td><a href={% url 'kunde_detail' r.0 %}>Details</a></td>

    </tr>
{% endfor %} 
</table>

<br>
<img src="/static/img/Add.png">
<a href="{% url 'customer_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Neu</a>

{% endblock %}