{% extends "template_base.html" %}

{% block title %}{{ block.super }} - KUNDEN{% endblock %}

{% block content %}
<h2>Kunden</h2>
<ul>
    {% for kunde in object_list %}
    <li> {{kunde.KND_Kurzbezeichnung}}, {{ kunde.KND_Bezeichnung }}</li>
    {% endfor %}
</ul>
{% endblock %}