{% extends "template_base.html" %}

{% block title %}{{ block.super }} - MITARBEITER{% endblock %}

{% block content %} 

    <div>                                                                        
    <p>{{ kunde.KND_Kurzbezeichnung }}</p>                                              
    <p>{{ kunde.KND_Bezeichnung }}</p>                                           
    </div>

    <a href="../../kundenliste">Zurück</a>

<b>


{% endblock %}