h2 {
    font-family:Arial; font-size:14pt;
}

td {
    font-size:10pt; font-family:Arial;
}

a {
    font-size:10pt; font-family:Arial; color: blue;
}

p {
    font-size:10pt; font-family:Arial;
}

ul {
   color:red; font-family:Arial; font-weight:bold;
}

img {
    border:0;
}